/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.u-margin-top {
    margin-top: 30px;
}

.accordion__title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__title:hover {
    background-color: #ddd;
}

.accordion__body {
    padding: 0 18px;
    background-color: white;
}