{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react",
        "stage-2"
    ],
    "env": {
        "test": {
            "presets": ["env", "react", "stage-2"]
        }
    }
}
