{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "plugin:flowtype/recommended",
        "prettier",
        "prettier/react",
        "prettier/flowtype"
    ],
    "plugins": [
        "react",
        "flowtype",
        "flowtype-errors",
    ],
    "rules": {
        "flowtype-errors/show-errors": 2,
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "react/sort-comp": [0],
        "react/jsx-boolean-value": [0],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/default-props-match-prop-types": "off",
        "jsx-a11y/no-static-element-interactions": [0],
        "react/destructuring-assignment": "off",
        "react/require-default-props": "off" // because Flow isn't smart enough to derive actual prop types from defaults.
    },
    "env": {
        "jest": true,
        "es6": true,
        "browser": true
    },
}
