html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    padding: 50px;
    font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 15px;
}

p,
ul,
ol,
table,
dl {
    margin: 0 0 20px;
}

pre {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: 22px;
}

h2 {
    color: #393939;
}

h3,
h4,
h5,
h6 {
    color: #494949;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #069;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
        Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    font-size: 12px;
}

img {
    max-width: 100%;
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
}

strong {
    color: #222;
    font-weight: 700;
}

header ul li + li + li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    width: 500px;
    float: right;
    padding-bottom: 25px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

/*
 * Styles of the examples
 */

.u-border {
    border: 3px solid blue;
}

.anchor {
    display: none;
}

h4:hover .anchor {
    display: inline;
}

.u-margin-top {
    margin-top: 1.875rem;
}

.u-margin-right {
    margin-right: 1.875rem;
}

.u-margin-bottom-s {
    margin-bottom: 0.5rem;
}
