.accordion__body {
    display: block;
    animation: fadein .35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein .35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
